<!DOCTYPE html>
<html>
	<head>
		<!-- <script type = "text/javascript"  src = "{{ url_for('static', filename = 'hello.js') }}" ></script> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='postgres.css') }}">
        <title>PostgreSQL</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            
        </style>

    </head>
	<body>
        <header>
            || <a href="/PostgreSQL"><b>Visit PostgreSQL</b></a> ||
            <br/>
            || <a href="/MySQL"><b>Visit MySQL</b></a> ||
        </header>
        <div class="container">
            <h1 id="head">List of Books Everyone Should Read At Least Once</h1>
            {% for i in demo %}
                <h1 id="title">{{ i.Book_ID }}.&nbsp;{{ i.Title }} , by {{ i.Author }}</h1>
                <div class="rating">
                    <b>Rating</b><br/>
                    {% for j in range( i.Rating ) %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                    {{ i.Rating }} Star<br/><br/>
                </div>
                <p>{{ i.Description }}</p>
                <br/>
            {% endfor %}
        </div>
      <br/>
        <footer>
            This is the footer
        </footer>
	
	</body>
</html>